.toc-nav-item {
	display: flex;
	align-items: center;
	width: 100%;
}

.is-current-heading {
	font-weight: bold;
	color: var(--text-accent);
}

.toc-level-prefix {
	font-size: 0.75em;
	opacity: 0.5;
	margin-right: 8px;
	font-family: var(--font-monospace);
}
